<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table style="border: 1px solid black;" class="Table">
    <thead>
    <tr>
        <th scope="col">id </th>
        <th scope="col">name </th>
        <th scope="col">lastName </th>
        <th scope="col">Delete User</th>
        <th scope="col">Edit User</th>
    </tr>
    </thead>
    <tbody style="border: 1px solid black;">
    <tr th:each="user: ${users}">
        <td th:utext="${user.getId()}">id</td>
        <td th:utext="${user.getName()}">name</td>
        <td th:utext="${user.getLastName()}">lastName</td>
        <td>
            <form th:method="POST" th:action="@{/{id}/delete(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
        <td>
            <form th:method="GET" th:action="@{/{id}(id=${user.getId()})}">
                <input type="submit" value="Edit"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<hr/>
<a href="/new">Create new user</a>
</body>
</html>